celery==4.1.0
Flask==0.12.2
Flask-Admin==1.5.0
Flask-And-Redis==0.7
Flask-Babel==0.11.2
Flask-BabelEx==0.9.3
Flask-Bootstrap==3.3.7.1
Flask-Cors==3.0.2
Flask-HTTPAuth==3.2.3
Flask-Login==0.4.0
Flask-Migrate==2.0.3
Flask-PyMongo==0.5.1
Flask-RESTful==0.3.6
Flask-Script==2.0.5
Flask-SQLAlchemy==2.2
gevent==1.2.1
gunicorn==19.4.5
ipython==5.5.0
Jinja2==2.9.6
kombu==4.1.0
lxml==4.1.1
psutil==5.0.1
pymongo==3.4.0
redis==2.10.5
requests==2.18.4
scrapy-redis==0.6.8
SQLAlchemy==1.1.5
xlrd==1.0.0
XlsxWriter==0.9.6
xlutils==2.0.0
xlwings==0.10.2
xlwt==1.2.0
